<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full min-h-screen text-white p-10 bg-zinc-900">
        <h1 class="text-3xl m-2">Create an Account</h1>
        <form action="/api/v1/createUser" method="post">
            <input class="rounded-md outline-none bg-transparent border-2 border-zinc-800 px-3 py-2 m-2" type="text" placeholder="Enter your name" name="name">
            <input class="rounded-md outline-none bg-transparent border-2 border-zinc-800 px-3 py-2 m-2" type="text" placeholder="Enter your username" name="userName">
            <input class="rounded-md outline-none bg-transparent border-2 border-zinc-800 px-3 py-2 m-2" type="email" placeholder="Enter your email" name="email">
            <input class="rounded-md outline-none bg-transparent border-2 border-zinc-800 px-3 py-2 m-2" type="password" placeholder="Enter your password" name="password">
            <input class="rounded-md outline-none bg-transparent border-2 border-zinc-800 px-3 py-2 m-2" type="number" placeholder="Enter your age" name="age">
            <button class="rounded-md bg-blue-600 px-8 cursor-pointer py-2 m-2" type="submit">Create</button>
        </form>

        <h1 class="text-3xl mt-10 mb-10 m-2">Or</h1>
        <h1 class="text-3xl m-2">Login your Account</h1>
        <form action="/api/v1/loginUser" method="post">
            <input class="rounded-md outline-none bg-transparent border-2 border-zinc-800 px-3 py-2 m-2" type="email" placeholder="Enter your email" name="email">
            <input class="rounded-md outline-none bg-transparent border-2 border-zinc-800 px-3 py-2 m-2" type="password" placeholder="Enter your password" name="password">
            <button class="rounded-md bg-blue-600 px-8 cursor-pointer py-2 m-2" type="submit">Login</button>
        </form>
    </div>
</body>
</html>