<% if (success.length > 0) { %>
    <div class="alert alert-success" id="flash-message">
      <%= success %>
    </div>
  <% } %>
  
  <% if (error.length > 0) { %>
    <div class="alert alert-danger" id="flash-message">
      <%= error %>
    </div>
  <% } %>
  